@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#363949;
    --color-light:rgba(32,139,200,.18);
    --color-primary-variant:#111e88;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;
    --color-review-btn-background:#ffbb55;


    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;


    --card-padding:1.8rem;
    --padding-1:1.2rem;

    --box-shadow:0 2rem 3rem var(--color-light);


}



.banner-image{
    background-image: url('./assets_home/cover.jpg');
    background-size: cover;
}

.home-logo{
    border-radius: 50%;
}
.banner-text{
    font-size: 70px;
}
.btn{
  background-color: rgb(240, 240, 240,.3); /* Green */
  border: none;
  color: rgb(240, 240, 240,.3);
  padding: 35px 55px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}
#cardcontainer{
    margin-top: 8%;
    margin-left: 8%;
   
}

.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgb(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgb(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgb(0,0,0,0.75);

}
.review-button {
    border: none;
    color: #363949;
    background: #ffbb55;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: .5rem;
   
  }
  .category-viewer{
      background: #b8b9bf;
      margin: 10px  5px 10px 0px;
      border-radius: 10px;
      padding: 2px 5px;
      font-size: 11px;
  }
/* =========================search bar=============================================== */


.search-bar {
    overflow: hidden;
    /* background-color: #fe1414; */
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  
  }
  .search-bar form{
    display: flex;
    justify-content: center;
    align-items: center;

      width: 100%;
      height: 100%;
  }
  .search-bar button{
    background-color: white;
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 100%;

  }
  .search-bar button:hover{
    background-color: var(--color-info-dark);
    transition: 1s ease;
}
.search-bar button span{
    background-color:transparent;
    font-size: 35px;
    color: #000;
    
}
  .search-bar input[type=text] {
    width: 100%;
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 6px;
   border: none;
   margin-top: 8px;
   margin-right: 16px;
   margin-bottom: 10px;
   font-size: 20px;
   border: 1px solid black;
   border-radius: 10px;
    
  }
  
 




/* ====================================== FOOTER ====================================================== */

footer{
    display: block;
    text-align: center;
    padding: 25px 50px 30px;
    
   
}

footer .row .col-md-4 h2{
    color: #fd7e14;
}

.svg{
    height: 48px;
    width: 48px;
    display: inline-block;
}

.svg{
    transition: all 300ms ease;
}

.svg:hover{
    cursor: pointer;
    margin-bottom: .8rem;
    font-size: 3rem;
}

@media screen and (max-width: 768px){
    .search-bar input[type=text] {
        width: 50%;
      }
}